<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NoscDBEntities" connectionString="metadata=res://*/NoscEF.csdl|res://*/NoscEF.ssdl|res://*/NoscEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sql2008r2;Initial Catalog=NoscDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>