<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="NoscDBEntities" connectionString="metadata=res://*/POCOS.EntityNosc.csdl|res://*/POCOS.EntityNosc.ssdl|res://*/POCOS.EntityNosc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=NoscDBServer;user id=sa;password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
    <identity impersonate="false"/>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericError.htm">
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AuthBehavior" name="Nosc.Services.Services.Notification">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Nosc.Services.Services.INotification" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Nosc.Services.Services.INotification" />
      </service>
      <!--Sincronizacion-->
      <service behaviorConfiguration="AuthBehavior" name="Nosc.Services.Services.Broadcast">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Nosc.Services.Services.IBroadcast" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Nosc.Services.Services.IBroadcast" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Nosc.Services.Services.Receiver">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Nosc.Services.Services.IReceiver" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Nosc.Services.Services.IReceiver" />
      </service>
      <!--Validacion-->
      <service behaviorConfiguration="AuthBehavior" name="Nosc.Services.Services.Validacion">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Nosc.Services.Services.IValidacion" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Nosc.Services.Services.IValidacion" />
      </service>            
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
			maxStringContentLength="2147483647"
			maxArrayLength="2147483647"
			maxBytesPerRead="2147483647"
			maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webhttpbiding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
          maxStringContentLength="2147483647"
          maxArrayLength="2147483647"
          maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
