<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NoscDBEntities" connectionString="metadata=res://*/POCOS.EntityNosc.csdl|res://*/POCOS.EntityNosc.ssdl|res://*/POCOS.EntityNosc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008R2;initial catalog=NoscDBServer;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>