<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--CONECION A BD IMC-->
    <add name="NoscDBEntities" connectionString="metadata=res://*/NoscEF.csdl|res://*/NoscEF.ssdl|res://*/NoscEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL2008r2;Initial Catalog=NoscDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SyncServiceEntity" connectionString="metadata=res://*/Pocos.SyncServiceEntity.csdl|res://*/Pocos.SyncServiceEntity.ssdl|res://*/Pocos.SyncServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL2008r2;Initial Catalog=NoscDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <!--CONECION A BD CONAGUA-->
    <!--<add name="NoscDBEntities" connectionString="metadata=res://*/NoscEF.csdl|res://*/NoscEF.ssdl|res://*/NoscEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NoscDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SyncServiceEntity" connectionString="metadata=res://*/Pocos.SyncServiceEntity.csdl|res://*/Pocos.SyncServiceEntity.ssdl|res://*/Pocos.SyncServiceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NoscDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>  

  <appSettings>
    <!--SERVICIOS IMC-->
    <!--<add key="BroadCast" value="http://localhost:3268/Services/Broadcast.svc"/>
    <add key="Reciver" value="http://localhost:3268/Services/Receiver.svc"/>
    <add key="Notification" value="http://localhost:3268/Services/Notification.svc"/>
    <add key="ValideConexion" value="http://localhost:3268/Services/Validacion.svc"/>-->
    
    <!--SERVICIOS CONAGUA-->
    <add key="BroadCast" value="http://172.29.87.7:1313/Services/Broadcast.svc"/>
    <add key="Reciver" value="http://172.29.87.7:1313/Services/Receiver.svc"/>
    <add key="Notification" value="http://172.29.87.7:1313/Services/Notification.svc"/>
    <add key="ValideConexion" value="http://172.29.87.7:1313/Services/Validacion.svc"/>

    <!--AUTH IMC-->
    <!--<add key="basicAuthUser" value="Administrador"/>
    <add key="basicAuthPass" value="Passw0rd1!"/>-->
    
    <!--AUTH CONAGUA-->
    <add key="basicAuthUser" value="Administrator"/>
    <add key="basicAuthPass" value="Conagua2013"/>
    
    <add key="NombreProceso" value="Nosc.UI" />
    <!--TIMER PARA DESPERATR LOS HILOS-->
    <add key="SyncTimer" value="15"/>
    <add key="ConexionTimer" value="10"/>
    <add key="ContSettings" value="1"/>

    <!--Propiedades para WebService de Actualizacion-->
    <add key="GetDownload" value="http://172.29.87.7:2792/Servicios/BroadCast.svc" />
    <add key="WebMethodVersion" value="GetLastVersion" />
    <add key="WebMethodPath" value="GetPath" />
    <add key="User" value="Administrator" />
    <add key="Pass" value="Conagua2013" />
    <!--Actualizador-->    
    <add key="ActualizadorPath" value="C:\Programs\Actualizador.SetUp\Actualizador.UI.exe" />
    <add key="Assembly" value="" />
    <add key="IsUpdate" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IdAPP" value="20131004183526473"/>
    <add key="20131004183526473" value="Nosc.UI"/>
    <add key="ConnectionApplication" value="data[==]source=.\sqlexpress;initial[==]catalog=NoscDB;integrated[==]security=True"/>        
  </appSettings>
</configuration>